* {
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
html,
body {
  height: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.site-main {
  position: static!important;
}
body {
  background: #f1f1f3;
}
.page-id-2 {
  background: url(../images/bg.png) top right no-repeat;
}
#page {
  height: auto!important;
  min-height: 100%;
  position: relative;
  padding-bottom: 46px;
}
header.stl {
  height: 95px;
  background: url(../images/bg.png) top right no-repeat;
  background-color: white;
}
header.stl .container .home-link {
  display: inline-block;
  margin: 11px 0;
}
header.stl .container nav {
  float: right;
  margin: 45px 0 26px;
}
header.stl .container nav ul {
  padding-right: 0;
}
header.stl .container nav ul li a {
  font-size: 18px;
  color: #333333;
  padding: 0;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
header.stl .container nav ul li:hover a {
  background: none;
  text-decoration: underline;
}
header.stl .container nav ul li.current-menu-item a {
  font-style: normal;
  color: #e73742;
  text-decoration: underline;
}
footer {
  background: white;
  height: 46px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .stl-copyright {
  color: #737373;
  font-size: 14px;
  margin: 12px 0;
  float: left;
}
footer .social-networks {
  text-align: right;
}
footer .social-networks .item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 6px;
  background: red;
  font-size: 0;
  float: right;
}
footer .social-networks .item.fb {
  background: url(../images/fb.png) center no-repeat;
}
footer .social-networks .item.vk {
  background: url(../images/vk.png) center no-repeat;
}
#main {
  background: #f1f1f3;
}
.category-page {
  padding-bottom: 21px;
}
.category-page header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.category-page header .header-line {
  background: #7dc243;
  height: 6px;
}
.category-page header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.category-page .posts-list {
  position: relative;
  margin-bottom: 20px;
}
.category-page .posts-list .post-item {
  float: left;
  width: 50%;
  position: relative;
  margin-top: 25px;
  height: 350px;
}
.category-page .posts-list .post-item:nth-child(even) {
  padding-left: 50px;
}
.category-page .posts-list .post-item:nth-child(even) .post-more a {
  left: 50px;
}
.category-page .posts-list .post-item:nth-child(odd) {
  padding-right: 50px;
}
.category-page .posts-list .post-item .post-image {
  float: left;
  position: relative;
}
.category-page .posts-list .post-item .post-image .image-inline {
  border: solid 1px white;
  position: absolute;
  left: 7px;
  top: 7px;
  right: 7px;
  bottom: 7px;
}
.category-page .posts-list .post-item .post-title {
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-title a {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.category-page .posts-list .post-item .post-date {
  color: #e8424c;
  font-size: 14px;
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-desc {
  color: #616161;
  font-size: 16px;
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-more a {
  font-size: 13px;
  color: #e73742!important;
}
.category-page .posts-list .post-item .post-more a {
  color: #ac0404;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #FF3440 !important;
  border: 1px solid #FF3440;
  padding: 0 11px;
  height: 24px;
  font-size: 14px;
  font-family: 'Ubuntu';
  bottom: 0px;
  margin-left: 266px;
  left: 0;
}
.category-page .posts-list .post-item .post-more a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3440;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.category-page .posts-list .post-item .post-more a:hover {
  color: white!important;
}
.category-page .posts-list .post-item .post-more a:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.category-page .post-paging nav {
  padding: 0;
  background: none;
}
.category-page .post-paging nav .nav-links {
  margin: 0;
  height: 40px;
  max-width: none;
}
.category-page .post-paging nav .nav-links .nav-previous {
  border: solid 1px #e73742;
  height: 40px;
  position: relative;
}
.category-page .post-paging nav .nav-links .nav-previous a {
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  display: block;
}
.category-page .post-paging nav .nav-links .nav-previous a span {
  width: 24px;
  height: 24px;
  background: url(../images/paging-left.png) center no-repeat;
  margin-left: 10px;
  float: left;
  text-indent: -9999px;
}
.category-page .post-paging nav .nav-links .nav-next {
  border: solid 1px #e73742;
  height: 40px;
  padding: 0;
}
.category-page .post-paging nav .nav-links .nav-next a {
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  padding-left: 15px;
  display: block;
}
.category-page .post-paging nav .nav-links .nav-next a span {
  width: 24px;
  height: 38px;
  background: url(../images/paging-right.png) center no-repeat;
  margin-right: 10px;
  float: right;
  text-indent: -9999px;
}
.news-page-header {
  padding-bottom: 21px;
}
.news-page-header header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #333;
}
.news-page-header header h2 a {
  color: inherit;
}
.news-page-header header .header-line {
  background: #7dc243;
  height: 6px;
}
.news-page-header header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.news-page .news-archive {
  width: 228px;
  float: left;
}
.news-page .news-archive .archive-title1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.news-page .news-archive .archive-list {
  padding-left: 0px;
  color: red;
  list-style: none;
}
.news-page .news-archive .archive-list li {
  color: black;
}
.news-page .news-archive .archive-list li::before {
  content: '• ';
  color: red;
  margin-right: 8px;
}
.news-page .news-archive .archive-list li a {
  color: inherit;
}
.news-page .news-archive .about-pages {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-page .news-archive .about-pages li.active {
  color: #FF3440;
}
.news-page .news-archive .about-pages li a {
  display: block;
  color: inherit;
  font-family: 'Ubuntu';
  font-size: 18px;
  text-decoration: underline;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
  background: url(../images/stl_rsaquo_icon.png) left center no-repeat;
  padding-left: 12px;
}
.news-page .news-archive .about-pages li a:hover {
  color: #FF3440;
}
.news-archive {
  width: 228px;
  float: left;
}
.news-archive .archive-title1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.news-archive .archive-list {
  padding-left: 0px;
  color: red;
  list-style: none;
}
.news-archive .archive-list li {
  color: black;
}
.news-archive .archive-list li::before {
  content: '• ';
  color: red;
  margin-right: 8px;
}
.news-archive .archive-list li a {
  color: inherit;
}
.news-article {
  margin-left: 228px;
}
.news-article .post-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.news-article .post-date {
  color: #e73742;
  font-size: 14px;
  margin-top: 5px;
}
.stl_slogan {
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 28px;
    position: relative;
    margin-left: 25px;
    top: 20px;
}
.main-page {
  background: none!important;
  margin-top: 70px;
}
@media screen and (max-width: 1825px) {
    .main-page {
    background: #ffffff !important;
    }
}
.cubes-wrapper .cube-item {
  float: left;
  width: 281px;
  height: 160px;
  display: block;
  position: relative;
  margin-left: 14px;
}
.cubes-wrapper .cube-item:first-child {
  margin-left: 0;
}
.cubes-wrapper .cube-item a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cubes-wrapper .cube-item a .cube-top,
.cubes-wrapper .cube-item a .cube-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 30px;
  line-height: 160px;
  text-align: center;
  width: 281px;
  height: 160px;
  text-transform: uppercase;
}
.cubes-wrapper .cube-item a .cube-top {
  color: white;
}
.cubes-wrapper .cube-item a .cube-bottom {
  transform: rotateX(-90deg) translateZ(80px);
  -webkit-transform: rotateX(-90deg) translateZ(80px);
}
.cubes-wrapper .cube-item:hover a .cube-top {
  transform: rotateX(90deg) translateZ(80px);
  -webkit-transform: rotateX(90deg) translateZ(80px);
}
.cubes-wrapper .cube-item:hover a .cube-bottom {
  transform: rotateX(0deg) translateZ(0px);
  -webkit-transform: rotateX(0deg) translateZ(0px);
}
.cubes-wrapper .cube-item.cube-blue .cube-top {
  background: url('../images/home/10.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-blue .cube-bottom {
  background: url('../images/home/11.png') no-repeat;
  color: #007CC4;
}
.cubes-wrapper .cube-item.cube-red .cube-top {
  background: url('../images/home/20.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-red .cube-bottom {
  background: url('../images/home/21.png') no-repeat;
  color: #FF3440;
}
.cubes-wrapper .cube-item.cube-orange .cube-top {
  background: url('../images/home/30.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-orange .cube-bottom {
  background: url('../images/home/31.png') no-repeat;
  color: #e8991b;
}
.cubes-wrapper .cube-item.cube-green .cube-top {
  background: url('../images/home/41.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-green .cube-bottom {
  background: url('../images/home/42.png') no-repeat;
  color: #4CC332;
}
.cube {
  float: left;
  width: 281px;
  height: 160px;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  text-decoration: none;
}
.cube .top,
.cube .bottom {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 30px;
  line-height: 160px;
  text-align: center;
  width: 281px;
  height: 160px;
  text-transform: uppercase;
}
.top {
  background: #00bfff;
  transform: translateZ(80px);
  -webkit-transform: translateZ(80px);
}
.bottom {
  background: #d30043;
  transform: rotateX(-90deg) translateZ(-80px);
  -webkit-transform: rotateX(-90deg) translateZ(-80px);
  background: url('../images/stl_main_blue_bottom.png') no-repeat;
}
.cube:hover {
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  text-decoration: none;
}
.cube.cube_blue .top {
  background: url('../images/home/10.png') no-repeat;
}
.cube.cube_blue .bottom {
  background: url('../images/home/11.png') no-repeat;
  color: #007CC4;
}
.cube.cube_red {
  margin: 0 14px;
}
.cube.cube_red .top {
  background: url('../images/home/20.png') no-repeat;
}
.cube.cube_red .top,
.cube.cube_red .bottom {
  line-height: 35px;
  padding-top: 47px;
}
.cube.cube_red .bottom {
  background: url('../images/home/21.png') no-repeat;
  color: #FF3440;
}
.cube.cube_orange .top {
  background: url('../images/home/30.png') no-repeat;
}
.cube.cube_orange .bottom {
  background: url('../images/home/31.png') no-repeat;
  color: #e8991b;
}
.cube.cube_green {
  margin-left: 14px;
}
.cube.cube_green .top {
  background: url('../images/home/41.png') no-repeat;
}
.cube.cube_green .bottom {
  background: url('../images/home/42.png') no-repeat;
  color: #4CC332;
}
.about-list {
  padding-top: 40px;
}
.about-list .post-item {
  position: relative;
  width: 344px;
  float: left;
  margin-right: 68px;
  height: 825px;
}
.about-list .post-item .post-image {
  font-size: 0;
  margin-bottom: 40px;
}
.about-list .post-item.post-30 {
  margin-right: 0!important;
}
.about-list .post-item .post-desc {
  color: #616161;
  font-size: 18px;
  line-height: 24px;
}
.about-list .post-item .post-more a {
  color: #ac0404;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #FF3440 !important;
  border: 1px solid #FF3440;
  padding: 0 11px;
  height: 24px;
  font-size: 14px;
  font-family: 'Ubuntu';
  bottom: 75px;
}
.about-list .post-item .post-more a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3440;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.about-list .post-item .post-more a:hover {
  color: white!important;
}
.about-list .post-item .post-more a:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.about-list .post-item:first-child {
  margin-bottom: 50px;
  width: auto;
  float: none;
  margin-right: 0;
  height: auto;
}
.about-list .post-item:first-child .post-image {
  float: left;
  margin-right: 70px;
  margin-bottom: 0;
}
.about-list .post-item:first-child .post-desc {
  padding-top: 60px;
  margin-left: 414px;
  color: #616161;
  font-size: 18px;
  line-height: 24px;
}
.community-card-page header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.community-card-page header .header-line {
  background: #7dc243;
  height: 6px;
}
.community-card-page header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.community-card-page .cp-top {
  margin-bottom: 50px;
}
.community-card-page .cp-top img {
  margin: 0!important;
  float: none;
}
.community-card-page .cp-contacts {
  float: left;
  width: 450px;
}
.community-card-page .cp-contacts .contact-item {
  margin-bottom: 40px;
}
.community-card-page .cp-contacts .contact-item h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: 'Ubuntu';
}
.community-card-page .cp-contacts .contact-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.community-card-page .cp-contacts .contact-item ul li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 14px;
  padding-left: 35px;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-contacts .contact-item ul li.location {
  background: url(../images/location.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li.phone {
  background: url(../images/phone.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li.email {
  background: url(../images/email.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li a {
  color: #008bff;
  font-family: inherit;
}
.community-card-page .cp-feedback {
  margin-left: 590px;
  position: relative;
}
.community-card-page .cp-feedback input {
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  font-family: Tahoma, Arial, sans-serif;
  padding: 12px;
}
.community-card-page .cp-feedback .wpcf7-not-valid-tip {
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-feedback .name-fields {
  float: left;
  width: 50%;
  position: relative;
}
.community-card-page .cp-feedback .name-fields span {
  display: block;
  margin-right: 9px;
  position: relative;
}
.community-card-page .cp-feedback .name-fields span input {
  border: solid 1px #dfdfdf;
  width: 100%;
  border-radius: 3px;
  padding-left: 42px;
  background: url(../images/name.png) 10px 10px no-repeat;
  background-size: 22px 24px;
  background-color: white;
}
.community-card-page .cp-feedback .email-field {
  float: left;
  width: 50%;
  position: relative;
}
.community-card-page .cp-feedback .email-field span {
  display: block;
  margin-left: 9px;
  position: relative;
}
.community-card-page .cp-feedback .email-field span input {
  border: solid 1px #dfdfdf;
  width: 100%;
  border-radius: 3px;
  padding-left: 42px;
  background: url(../images/email1.png) 10px 10px no-repeat;
  background-size: 21px 21px;
  background-color: white;
}
.community-card-page .cp-feedback .text-field {
  position: relative;
}
.community-card-page .cp-feedback .text-field textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  padding: 10px 20px;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-feedback .buttons {
  position: relative;
  margin-top: 17px;
  height: 56px;
}
.community-card-page .cp-feedback .buttons br {
  display: none;
}
.community-card-page .cp-feedback .buttons input {
  width: 170px;
  height: 56px;
  line-height: 56px;
  float: right;
  border: none;
  padding: 0;
  background: #e73742;
  margin-left: 17px;
}
.community-card-page .cp-feedback .buttons input[type=reset] {
  background: #a6aaad;
}
nav.post-navigation {
  padding: 0;
  background: none;
  padding-bottom: 30px;
  margin-left: 228px;
}
nav.post-navigation .nav-links {
  margin: 0;
  height: 40px;
  max-width: none;
}
nav.post-navigation .nav-links [rel=prev] {
  border: solid 1px #e73742;
  height: 40px;
  padding-right: 15px;
  display: block;
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  float: left;
}
nav.post-navigation .nav-links [rel=prev] span {
  width: 24px;
  height: 24px;
  background: url(../images/paging-left.png) center no-repeat;
  margin-left: 10px;
  float: left;
  text-indent: -9999px;
  margin-top: 7px;
  margin-right: 7px;
}
nav.post-navigation .nav-links [rel=next] {
  border: solid 1px #e73742;
  height: 40px;
  padding: 0;
  padding-left: 15px;
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  display: block;
  float: right;
}
nav.post-navigation .nav-links [rel=next] span {
  width: 24px;
  height: 38px;
  background: url(../images/paging-right.png) center no-repeat;
  margin-right: 10px;
  float: right;
  text-indent: -9999px;
  margin-left: 7px;
}
.archive-page-wrapper {
  padding-top: 30px;
}
.page-id-125 article {
  padding-top: 8px;
}
.page-id-125 article h3 {
  font-family: Ubuntu;
}
.page-id-125 article ul {
  list-style: none;
  padding-left: 0;
}
.page-id-125 article ul li {
  position: relative;
  padding-left: 42px;
  line-height: 36px;
}
.page-id-125 article ul li a {
  color: #FF3440;
  font-weight: bold;
}
.page-id-125 article ul li::before {
  width: 26px;
  height: 26px;
  background: url(../images/all_news.png) center no-repeat;
  border: solid 1px #FF3440;
  content: ' ';
  position: absolute;
  top: 5px;
  left: 0;
}
.lined {
  border-bottom: solid 6px;
  height: 71px;
}
.lined h2 {
  display: inline-block;
}
.lined.long-blue {
  border-color: #367bc0;
}
.lined.long-red {
  border-color: #e73742;
}
.lined.long-green {
  border-color: #75b53f;
}
.lined.long-orange {
  border-color: #f7a31d;
}
.lined.short-green h2 {
  border-bottom: solid 6px #75b53f;
}
.lined.short-blue h2 {
  border-bottom: solid 6px #367bc0;
}
.lined.short-orange h2 {
  border-bottom: solid 6px #f7a31d;
}
.lined.short-red h2 {
  border-bottom: solid 6px #e73742;
}
