/* font-family: "EsqaderoRegular"; */
@font-face {
    font-family: "EsqaderoRegular";
    src: url("../fonts/EsqaderoRegular.eot");
    src: url("../fonts/EsqaderoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/EsqaderoRegular.woff") format("woff"),
    url("../fonts/EsqaderoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* font-family "segoe script"*/
@font-face{
	font-family:'segoe script';
	url("../fonts/EsqaderoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight:500;
}

html,
body {
	font-family:'Ubuntu';
  	height: 100%;
}
.container {
	width: 1170px;
  	margin: 0 auto;
	position: relative;
}

.single{
    background: url(../images/bg.png) top right no-repeat;
}

.site-content{
    background-color: #fff;
}
.clause-wrapper {height: 0}
.clause-wrapper .title {margin-top: 30px}
.clear {
  clear: both;
}
.site-main {
  position: static!important;
}
body {
  background: #f1f1f3;
}
.page {
  background: url(../images/bg.png) top right no-repeat;
}
#page {
  height: auto!important;
  min-height: 100%;
  position: relative;
  /*padding-bottom: 46px;*/
}
header.stl {
	
  	background-position: 96% 20%;
	position:relative;
}
header.stl .container .home-link {
  display: inline-block;
  margin: 40px 0;
}

header.stl .logo-describe{
	font-family: "EsqaderoRegular";
  	color: #fff;
  	font-weight: 400;
  	font-size: 20px;
  	float: right;
  	width: 415px;
  	margin-top: 40px;
	background: url(../images/logo-name.png) no-repeat;
	padding-top: 35px;
	background-position:top right;
	text-shadow: 7px 1px 33px #000;
    font-style: italic;
    line-height: 1.2;
}

header.stl  .logo-describe .item{
	float:right;
}

.navigation-wrapper{
	position:relative;
	background: linear-gradient(to left, rgba(241,241,241,0), rgba(241,241,241,1));
  min-height:41px;
}

.navigation-wrapper .navigation-main{
 	margin: 0 auto;
 	width: 1210px;
}

.navigation-wrapper .navigation-main >*{
	color:#000;
	margin:0px 12px;
	font-size:18px;
	text-decoration: none;
}

.navigation-wrapper .navigation-main ul li.current-menu-item{
    background: none;
    
}

.page-id-2 #page #main{
    padding:0;
}

.page-id-437 #page #main{
    padding:0;
}

.page-id-438 #page #main{
    padding:0;
}

.page-id-459 #page #main{
    padding:0;
}

.page-id-463 #page #main{
    padding:0;
}

.page-id-465 #page #main{
    padding:0;
}

.footer {
  background: #f5f5f5;
  width: 100%;
}
footer .stl-copyright {
  color: #737373;
  font-size: 14px;
  margin: 12px 0;
  float: left;
}
footer .social-networks {
  text-align: right;
}
footer .social-networks .item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 6px;
  background: red;
  font-size: 0;
  float: right;
}
footer .social-networks .item.fb {
  background: url(../images/fb.png) center no-repeat;
}
footer .social-networks .item.vk {
  background: url(../images/vk.png) center no-repeat;
}
#main {
    background: #fff;
    /*padding-bottom:450px;*/
}
.category-page {
  padding-bottom: 21px;
}
.category-page header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.category-page header .header-line {
  background: #7dc243;
  height: 6px;
}
.category-page header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.category-page .posts-list {
  position: relative;
  margin-bottom: 20px;
}
.category-page .posts-list .post-item {
  float: left;
  width: 50%;
  position: relative;
  margin-top: 25px;
  height: 350px;
}
.category-page .posts-list .post-item:nth-child(even) {
  padding-left: 50px;
}
.category-page .posts-list .post-item:nth-child(even) .post-more a {
  left: 50px;
}
.category-page .posts-list .post-item:nth-child(odd) {
  padding-right: 50px;
}
.category-page .posts-list .post-item .post-image {
  float: left;
  position: relative;
}
.category-page .posts-list .post-item .post-image .image-inline {
  border: solid 1px white;
  position: absolute;
  left: 7px;
  top: 7px;
  right: 7px;
  bottom: 7px;
}
.category-page .posts-list .post-item .post-title {
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-title a {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.category-page .posts-list .post-item .post-date {
  color: #e8424c;
  font-size: 14px;
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-desc {
  color: #616161;
  font-size: 16px;
  margin-left: 266px;
}
.category-page .posts-list .post-item .post-more a {
  font-size: 13px;
  color: #e73742!important;
}
.category-page .posts-list .post-item .post-more a {
  color: #ac0404;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #FF3440 !important;
  border: 1px solid #FF3440;
  padding: 0 11px;
  height: 24px;
  font-size: 14px;
  font-family: 'Ubuntu';
  bottom: 0px;
  margin-left: 266px;
  left: 0;
}
.category-page .posts-list .post-item .post-more a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3440;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.category-page .posts-list .post-item .post-more a:hover {
  color: white!important;
}
.category-page .posts-list .post-item .post-more a:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.category-page .post-paging nav {
  padding: 0;
  background: none;
}
.category-page .post-paging nav .nav-links {
  margin: 0;
  height: 40px;
  max-width: none;
}
.category-page .post-paging nav .nav-links .nav-previous {
  border: solid 1px #e73742;
  height: 40px;
  position: relative;
}
.category-page .post-paging nav .nav-links .nav-previous a {
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  display: block;
}
.category-page .post-paging nav .nav-links .nav-previous a span {
  width: 24px;
  height: 24px;
  background: url(../images/paging-left.png) center no-repeat;
  margin-left: 10px;
  float: left;
  text-indent: -9999px;
}
.category-page .post-paging nav .nav-links .nav-next {
  border: solid 1px #e73742;
  height: 40px;
  padding: 0;
}
.category-page .post-paging nav .nav-links .nav-next a {
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  padding-left: 15px;
  display: block;
}
.category-page .post-paging nav .nav-links .nav-next a span {
  width: 24px;
  height: 38px;
  background: url(../images/paging-right.png) center no-repeat;
  margin-right: 10px;
  float: right;
  text-indent: -9999px;
}
.news-page-header {
  padding: 21px 0;
}
.news-page-header header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #333;
}
.news-page-header header h2 a {
  color: inherit;
}
.news-page-header header .header-line {
  background: #7dc243;
  height: 6px;
}
.news-page-header header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.news-page .news-archive {
  width: 228px;
  float: left;
}
.news-page .news-archive .archive-title1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.news-page .news-archive .archive-list {
  padding-left: 0px;
  color: red;
  list-style: none;
}
.news-page .news-archive .archive-list li {
  color: black;
}
.news-page .news-archive .archive-list li::before {
  content: '• ';
  color: red;
  margin-right: 8px;
}
.news-page .news-archive .archive-list li a {
  color: inherit;
}
.news-page .news-archive .about-pages {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-page .news-archive .about-pages li.active {
  color: #FF3440;
}
.news-page .news-archive .about-pages li a {
  display: block;
  color: inherit;
  font-family: 'Ubuntu';
  font-size: 18px;
  text-decoration: underline;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
  background: url(../images/stl_rsaquo_icon.png) left center no-repeat;
  padding-left: 12px;
}
.news-page .news-archive .about-pages li a:hover {
  color: #FF3440;
}
.news-archive {
  width: 240px;
  float: left;
}
.news-archive .archive-title1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.news-archive .archive-list {
  padding-left: 0px;
  color: red;
  list-style: none;
}
.news-archive .archive-list li {
  color: black;
}
.news-archive .archive-list li::before {
  content: '• ';
  color: red;
  margin-right: 8px;
}
.news-archive .archive-list li a {
  color: inherit;
}


.main-page {
  background: none!important;
}
.cubes-wrapper .cube-item {
  float: left;
  width: 281px;
  height: 160px;
  display: block;
  position: relative;
  margin-left: 14px;
}
.cubes-wrapper .cube-item:first-child {
  margin-left: 0;
}
.cubes-wrapper .cube-item a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cubes-wrapper .cube-item a .cube-top,
.cubes-wrapper .cube-item a .cube-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 30px;
  line-height: 160px;
  text-align: center;
  width: 281px;
  height: 160px;
  text-transform: uppercase;
}
.cubes-wrapper .cube-item a .cube-top {
  color: white;
}
.cubes-wrapper .cube-item a .cube-bottom {
  transform: rotateX(-90deg) translateZ(80px);
  -webkit-transform: rotateX(-90deg) translateZ(80px);
}
.cubes-wrapper .cube-item:hover a .cube-top {
  transform: rotateX(90deg) translateZ(80px);
  -webkit-transform: rotateX(90deg) translateZ(80px);
}
.cubes-wrapper .cube-item:hover a .cube-bottom {
  transform: rotateX(0deg) translateZ(0px);
  -webkit-transform: rotateX(0deg) translateZ(0px);
}
.cubes-wrapper .cube-item.cube-blue .cube-top {
  background: url('../images/home/10.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-blue .cube-bottom {
  background: url('../images/home/11.png') no-repeat;
  color: #007CC4;
}
.cubes-wrapper .cube-item.cube-red .cube-top {
  background: url('../images/home/20.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-red .cube-bottom {
  background: url('../images/home/21.png') no-repeat;
  color: #FF3440;
}
.cubes-wrapper .cube-item.cube-orange .cube-top {
  background: url('../images/home/30.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-orange .cube-bottom {
  background: url('../images/home/31.png') no-repeat;
  color: #e8991b;
}
.cubes-wrapper .cube-item.cube-green .cube-top {
  background: url('../images/home/41.png') no-repeat;
}
.cubes-wrapper .cube-item.cube-green .cube-bottom {
  background: url('../images/home/42.png') no-repeat;
  color: #4CC332;
}
.cube {
  float: left;
  width: 281px;
  height: 160px;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  text-decoration: none;
}
.cube .top,
.cube .bottom {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 30px;
  line-height: 160px;
  text-align: center;
  width: 281px;
  height: 160px;
  text-transform: uppercase;
}
.top {
  background: #00bfff;
  transform: translateZ(80px);
  -webkit-transform: translateZ(80px);
}
.bottom {
  background: #d30043;
  transform: rotateX(-90deg) translateZ(-80px);
  -webkit-transform: rotateX(-90deg) translateZ(-80px);
  background: url('../images/stl_main_blue_bottom.png') no-repeat;
}
.cube:hover {
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  text-decoration: none;
}
.cube.cube_blue .top {
  background: url('../images/home/10.png') no-repeat;
}
.cube.cube_blue .bottom {
  background: url('../images/home/11.png') no-repeat;
  color: #007CC4;
}
.cube.cube_red {
  margin: 0 14px;
}
.cube.cube_red .top {
  background: url('../images/home/20.png') no-repeat;
}
.cube.cube_red .top,
.cube.cube_red .bottom {
  line-height: 35px;
  padding-top: 47px;
}
.cube.cube_red .bottom {
  background: url('../images/home/21.png') no-repeat;
  color: #FF3440;
}
.cube.cube_orange .top {
  background: url('../images/home/30.png') no-repeat;
}
.cube.cube_orange .bottom {
  background: url('../images/home/31.png') no-repeat;
  color: #e8991b;
}
.cube.cube_green {
  margin-left: 14px;
}
.cube.cube_green .top {
  background: url('../images/home/41.png') no-repeat;
}
.cube.cube_green .bottom {
  background: url('../images/home/42.png') no-repeat;
  color: #4CC332;
}
.about-list {
  padding-top: 40px;
}
.about-list .post-item {
  position: relative;
  width: 344px;
  float: left;
  margin-right: 68px;
  height: 825px;
}
.about-list .post-item .post-image {
  font-size: 0;
  margin-bottom: 40px;
}
.about-list .post-item.post-30 {
  margin-right: 0!important;
}
.about-list .post-item .post-desc {
  color: #616161;
  font-size: 18px;
  line-height: 24px;
}
.about-list .post-item .post-more a {
  color: #ac0404;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #FF3440 !important;
  border: 1px solid #FF3440;
  padding: 0 11px;
  height: 24px;
  font-size: 14px;
  font-family: 'Ubuntu';
  bottom: 75px;
}
.about-list .post-item .post-more a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3440;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.about-list .post-item .post-more a:hover {
  color: white!important;
}
.about-list .post-item .post-more a:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.about-list .post-item:first-child {
  margin-bottom: 50px;
  width: auto;
  float: none;
  margin-right: 0;
  height: auto;
}
.about-list .post-item:first-child .post-image {
  float: left;
  margin-right: 70px;
  margin-bottom: 0;
}
.about-list .post-item:first-child .post-desc {
  padding-top: 60px;
  margin-left: 414px;
  color: #616161;
  font-size: 18px;
  line-height: 24px;
}
.community-card-page header h2 {
  font-size: 24px;
  line-height: 65px;
  font-family: 'Ubuntu';
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.community-card-page header .header-line {
  background: #7dc243;
  height: 6px;
}
.community-card-page header .header-line .header-inline {
  width: 120px;
  height: 6px;
  background: #f7a31d;
}
.community-card-page .cp-top {
  margin-bottom: 50px;
}
.community-card-page .cp-top img {
  margin: 0!important;
  float: none;
}
.community-card-page .cp-contacts {
  float: left;
  width: 450px;
}
.community-card-page .cp-contacts .contact-item {
  margin-bottom: 40px;
}
.community-card-page .cp-contacts .contact-item h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: 'Ubuntu';
}
.community-card-page .cp-contacts .contact-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.community-card-page .cp-contacts .contact-item ul li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 14px;
  padding-left: 35px;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-contacts .contact-item ul li.location {
  background: url(../images/location.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li.phone {
  background: url(../images/phone.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li.email {
  background: url(../images/email.png) 4px 4px no-repeat;
}
.community-card-page .cp-contacts .contact-item ul li a {
  color: #008bff;
  font-family: inherit;
}
.community-card-page .cp-feedback {
  margin-left: 590px;
  position: relative;
}
.community-card-page .cp-feedback input {
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  font-family: Tahoma, Arial, sans-serif;
  padding: 12px;
}
.community-card-page .cp-feedback .wpcf7-not-valid-tip {
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-feedback .name-fields {
  float: left;
  width: 50%;
  position: relative;
}
.community-card-page .cp-feedback .name-fields span {
  display: block;
  margin-right: 9px;
  position: relative;
}
.community-card-page .cp-feedback .name-fields span input {
  border: solid 1px #dfdfdf;
  width: 100%;
  border-radius: 3px;
  padding-left: 42px;
  background: url(../images/name.png) 10px 10px no-repeat;
  background-size: 22px 24px;
  background-color: white;
}
.community-card-page .cp-feedback .email-field {
  float: left;
  width: 50%;
  position: relative;
}
.community-card-page .cp-feedback .email-field span {
  display: block;
  margin-left: 9px;
  position: relative;
}
.community-card-page .cp-feedback .email-field span input {
  border: solid 1px #dfdfdf;
  width: 100%;
  border-radius: 3px;
  padding-left: 42px;
  background: url(../images/email1.png) 10px 10px no-repeat;
  background-size: 21px 21px;
  background-color: white;
}
.community-card-page .cp-feedback .text-field {
  position: relative;
}
.community-card-page .cp-feedback .text-field textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  padding: 10px 20px;
  font-family: Tahoma, Arial, sans-serif;
}
.community-card-page .cp-feedback .buttons {
  position: relative;
  margin-top: 17px;
  height: 56px;
}
.community-card-page .cp-feedback .buttons br {
  display: none;
}
.community-card-page .cp-feedback .buttons input {
  width: 170px;
  height: 56px;
  line-height: 56px;
  float: right;
  border: none;
  padding: 0;
  background: #e73742;
  margin-left: 17px;
}
.community-card-page .cp-feedback .buttons input[type=reset] {
  background: #a6aaad;
}
nav.post-navigation {
  padding: 0;
  background: none;
  padding-bottom: 30px;
  margin-left: 228px;
}
nav.post-navigation .nav-links {
  margin: 0;
  height: 40px;
  max-width: none;
}
nav.post-navigation .nav-links [rel=prev] {
  border: solid 1px #e73742;
  height: 40px;
  padding-right: 15px;
  display: block;
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  float: left;
}
nav.post-navigation .nav-links [rel=prev] span {
  width: 24px;
  height: 24px;
  background: url(../images/paging-left.png) center no-repeat;
  margin-left: 10px;
  float: left;
  text-indent: -9999px;
  margin-top: 7px;
  margin-right: 7px;
}
nav.post-navigation .nav-links [rel=next] {
  border: solid 1px #e73742;
  height: 40px;
  padding: 0;
  padding-left: 15px;
  font-size: 16px;
  color: #e73742;
  font-style: normal;
  line-height: 38px;
  display: block;
  float: right;
}
nav.post-navigation .nav-links [rel=next] span {
  width: 24px;
  height: 38px;
  background: url(../images/paging-right.png) center no-repeat;
  margin-right: 10px;
  float: right;
  text-indent: -9999px;
  margin-left: 7px;
}
.archive-page-wrapper {
  padding-top: 30px;
}
.page-id-125 article {
  padding-top: 8px;
}
.page-id-125 article h3 {
  font-family: Ubuntu;
}
.page-id-125 article ul {
  list-style: none;
  padding-left: 0;
}
.page-id-125 article ul li {
  position: relative;
  padding-left: 42px;
  line-height: 36px;
}
.page-id-125 article ul li a {
  color: #FF3440;
  font-weight: bold;
}
.page-id-125 article ul li::before {
  width: 26px;
  height: 26px;
  background: url(../images/all_news.png) center no-repeat;
  border: solid 1px #FF3440;
  content: ' ';
  position: absolute;
  top: 5px;
  left: 0;
}
.lined {
  border-bottom: solid 6px;
  height: 71px;
}
.lined h2 {
  display: inline-block;
}
.lined.long-blue {
  border-color: #367bc0;
}
.lined.long-red {
  border-color: #e73742;
}
.lined.long-green {
  border-color: #75b53f;
}
.lined.long-orange {
  border-color: #f7a31d;
}
.lined.short-green h2 {
  border-bottom: solid 6px #75b53f;
}
.lined.short-blue h2 {
  border-bottom: solid 6px #367bc0;
}
.lined.short-orange h2 {
  border-bottom: solid 6px #f7a31d;
}
.lined.short-red h2 {
  border-bottom: solid 6px #e73742;
}

.slider-wraper .comunity-card{
	float:left;
	margin-top:30px;
	width:50%;
}

.slider-wraper .comunity-card .name{
	font-size:40px;
	color:#f5040f;
	margin-bottom: 10px;
	font-family:'EsqaderoRegular';
	font-style:italic;
    font-weight: 700;
}
.slider-wraper .comunity-card .description{
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 1.2;
}

.slider-wraper .projects{
	color:#f5040f;
}

.slider-wraper .projects .our-projects{
	width: 314px;
 	margin: 30px auto;
}

.slider-wraper .projects .project-item{
	float:left;
	border: #bcbcbc solid 1px;
  	border-radius: 7px;
	box-shadow: 0 0.5px #bcbcbc;
	position:relative;
	margin-bottom:25px;
	position:relative;
}

.slider-wraper .projects .project-item .project-item-image{
	width:202px;
}

.slider-wraper .projects .project-item .go-to-project{
	color: #757575;
 	font-size: 15px;
	width: 134px;
 	margin: 20px auto;
 	display: block;
	text-decoration: underline;
}

.get-program-wrapper{
	background-color:#f5f5f5;
	padding: 40px 0;
	border-bottom: #bcbcbc solid 1px;
 	box-shadow: 0 0.5px #bcbcbc;
}

.get-program-wrapper .get-program-container{
	width: 1170px;
  	margin: 0 auto;
	height:100px;
}
.get-program-wrapper .get-program-container .inner-container{
	width: 700px;
  	float: left;
}

.news .news-header{
    margin:25px 0 15px;
    height:50px;
}

.news .news-header .title{
    padding:0;
    margin:0;
}
.inner-container .description {font-size: 20px; line-height: 1.2}
.news .news-header .button-wrapper{
	float:right;
    margin-top: 5px;
}

.news .news-header .button-wrapper .info-button a{
    color:#000;
    margin:0;
}

.news .news-header .button-wrapper .info-button a:active {
    color:#fff;
    text-decoration:none;
    background-color: #e43941;
}

.news .news-header .button-wrapper .info-button a:hover{
    color:#000;
    text-decoration:none;
    
}

.news .news-header .button-wrapper .info-button{
    margin:0;
}

.news .news-header .button-wrapper .info-button:active{
    color:#fff;
    text-decoration:none;
    background-color: #e43941;
    border: 1px solid #e43941;
}

.news .news-header .button-wrapper .info-button:hover{
    color:#fff;
    text-decoration:none;
    border:1px solid #000;
}

.slider-wraper .projects .project-item .project-item-image{
	width:202px;
	height:210px;
}

.slider-wraper .projects .project-item .project-item-describe .go-to-project{
    margin: 0 20px;
    background: #fff;
    border-radius: 42px;
    border: 1px solid #b6b6b6;
    font-size: 11px;
    padding: 3px 10px;
    text-decoration: none;
    color: #000;
    text-align: center;
    position: absolute;
    bottom:10px;
}

.slider-wraper .projects .project-item .project-item-describe .describe{
    margin-top: 140px;
    text-align: center;
    font-size: 14px;
}

.slider-wraper .projects .project-item .stl-describe{
    background: url(../images/stl.png) no-repeat #fff;
    background-position: 40% -35%;
    background-size: 180px;
}

.slider-wraper .projects .project-item .stars{
    background: url(../images/stars.png) no-repeat #fff;
    background-position: 40% -35%;
    background-size: 180px;
}

.slider-wraper .projects .project-item .university{
    background: url(../images/university.png) no-repeat #fff;
    background-position: 40% -35%;
    background-size: 180px;
}

.slider-wraper .projects .project-item  .teens{
    background: url(../images/teens.png) no-repeat #fff;
    background-position: 40% -35%;
    background-size: 180px;
}

.slider-wraper .projects .project-item  .light{
    background: url(../images/light.png) no-repeat #fff;
    background-position: 40% -35%;
    background-size: 180px;
}

/* generic classes */
.clear{
	clear:both;
}

.title{
	margin: 20px 0;
}

.get-button {
	 margin-top:30px;
	 background: #eb2834;
	 border-radius: 42px;
	 border:0;
	 color: #ffffff;
	 font-size: 16px;
	 padding: 12px 100px;
	 text-decoration: none;
}

.info-button{
  margin: 0px 0 10px 20px !important;
  font-family: Ubuntu;
  color:  #212121;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 23px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
  padding: 2px 35px;
  text-decoration: none;
  float:right;
  background: #fff;
  border-radius: 42px;
  border: 1px solid #b6b6b6;
}

.get-button:hover{
	background-color:#d3242e;
}

.get-button:active{
	background-color:#d3242e;
}

.info-button:hover{
	border-color:#000;
}

.info-button:active{
	background-color:#eb2834;
	color:#fff !important;
    border: 1px solid #d3242e;
}

.mark{
	float: right;
}


.rounded-item{
	border-radius:4px;
}


.second-level-header{
	font-size: 32px;
  	color: #f5040f;
	font-family:'EsqaderoRegular';
	font-style:italic;
    font-weight: 700;
}

.third-level-header{
	font-size: 22px;
 	color: #fff;
  	position: absolute;
  	font-weight: 600;
  	bottom: 35px;
  	/*width: 100%;*/
	margin-left:20px;
}

.fourth-level-header{
	font-size: 18px;
  	color: #ffffff;
 	font-weight: 700;
}

.fifth-level-header{
    color: #e83642;
  font-size: 26px;
  font-family: "EsqaderoRegular";
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
}

.left{
	float:left;
	margin-right:5px;
}

.right{
	float:right;
}


.line{
	float:left;
	width:25%;
	height:100%;
}

.blue-line{
	background-color:#377cc1;
}

.red-line{
	background-color:#e83642;
}

.yellow-line{
	background-color:#f7a31d;
}

.green-line{
	background-color:#7dc243;
}

.medium{
	margin-right:10px;
	margin-left:10px;
}

.date-time{
	font-size:16px;
	color:#ffffff;
	position:absolute;
	bottom:10px;
	margin-left:21px;
	background:url(../images/minimized-calendar.png) no-repeat;
  	background-position: left;
  	padding-left: 20px;
}

.current{
	border-bottom: 2px solid #ac0404;
  	padding-bottom: 9px;
}

.middle-project{
	margin: 0 15px 0;
}

.last-left{
	margin-right:15px;
}

.last-right{
	margin-left:15px;
}

.project-item-describe{
	display:none;
  	position: absolute;
  	bottom: 0;
	border-radius: 7px;
	background-color: #fff;
  	color: #000;
	text-decoration:none;
	padding:10px;
}


.follow{
	font-family: 'Salsa', cursive;
	font-size:18px;
	float:left;
}

.youtube{
	font-size:18px;		
	color:#da1d21;
	font-family: 'Salsa', cursive;
	background:url(../images/underline.png) no-repeat;
	margin-left:237px;
	background-position: right bottom;
  	height: 37px;
 	width: initial;
}

.middle-video >iframe{
    margin:0 10px;
}

.video-container >iframe{
    border-radius:4px;
}

.hidden{
    display: none;
}

.social-likes{
    list-style-type: none;
    padding:0;
    margin:10px 0;
}

.social-likes >li{
    display:inline-block;
    width:60px;
    height:40px;
    padding: 6px 0 0px 37px;
  font-size: 13px;
  color: #fff;
  float: left;
  margin-right: 10px;
}

.social-likes .custom-facebook{
    background: url(../images/facebook-custom.png) no-repeat;
}

.social-likes .custom-vkontakte{
    background: url(../images/vkontakte-custom.png) no-repeat;
}

.social-likes .custom-plusone{
     background: url(../images/google-plus-custom.png) no-repeat;
}

.social-likes .custom-odnoklassniki{
    background: url(../images/odnoklassniki-custom.png) no-repeat;
}

/*main page*/

.news .news-grid {
	position:relative;
}

.news .news-grid .big-section{
	margin-bottom:5px;
}

.news .news-grid .big-section .study-program{
	width: 655px;
  	position: relative;
  	box-shadow: 0 0.5px #bcbcbc;
}

.news .news-grid .project-item-text{
    display: none;
    position: absolute;
    top: 220px;
    margin:5px 20px;
    color:#fff;
}


.news .news-grid  .project-item-describe{
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9));
    height: 100%;
    width: 100%
}

.news .news-grid .big-section .study-program .study-image{
	width:100%;
	
}

.news .news-grid .big-section .events{
	float:right;
	position:relative;
}

.news .news-grid .big-section .events .check-event{
	height:100px;
	background-color:#f28729;
	margin-bottom:5px;
	font-size:15px;
	color:#ffffff;
  	padding: 20px;
	border-bottom: #bcbcbc solid 1px;
  	box-shadow: 0 0.5px #bcbcbc;
}

.news .news-grid .big-section .events .publication{
    position:relative;
}

.news .news-grid .big-section .events .publication .publication-image{
	height: 268px;
  	width: 509px;
  	box-shadow: 0 0.5px #bcbcbc;
}

.news .news-grid .small-section .small-item{
	float:left;
	height:150px;
	border-radius:4px;
	padding:20px;
	width:246px;
	height:170px;
	position:relative;
	border-bottom: #bcbcbc solid 1px;
  	box-shadow: 0 0.5px #bcbcbc;
}


.news .news-grid .small-section .small-item >img{
	position: absolute;
	bottom:20px;
	right:10px;
}

.news .news-grid .small-section .support{
	background-color:#ea3844;
	margin-right:5px;
	box-shadow: 0 0.5px #bcbcbc;
}

.news .news-grid .small-section .learn{
	background-color:#3773b1;
}

.news .news-grid .small-section .join{
	background-color:#75b53d;
}

.news .news-grid .small-section .seminar{
	float:left;
	position:relative;	
	margin: 0 5px;
}


.news .news-grid .small-section .seminar:hover .seminar-descibe{
	display:block;
}


.news .news-grid .small-section .seminar .seminar-image{
	height:170px;
	border-radius:4px;
	border-bottom: #bcbcbc solid 1px;
  	box-shadow: 0 0.5px #bcbcbc;
}

.news .news-grid .more{
	width:200px;
	margin: 10px auto;
}

.stl-channel{
	/*border-bottom: #bcbcbc solid 1px;*/
 	box-shadow: 0 1.5px #bcbcbc;
}

.stl-channel .stl-channel-title{
	font-size:28px;
	color:#da1d21;
}

.stl-channel .video-wrapper{
	margin:15px 0 40px 0; 
}

.stl-channel .video-wrapper .video-inner >*{
	border-radius:4px;
}

.stl-channel .video-wrapper .biggest{
	float:left;
	margin-right:5px;
}

.stl-channel .video-wrapper .biggest iframe{
	width:701px;
}

.stl-channel .video-wrapper .right-group{
	margin-left:700px;
}

.stl-channel .video-wrapper .left-group{
	margin-right:470px;
}

.learn .button-wrapper{
	float:right;
}

.learn .container .clause-wrapper .clause{
	float:left;
	position:relative;
}

.learn .container .clause-wrapper .clause .clause-image{
	width: 100%;
	border-radius:4px;
  height: 300px;
}

.learn .container .clause-wrapper .clause .clause-title{
	position:absolute;
	bottom: 10px;
  	font-size: 26px;
  	color: #ffffff;
  	font-weight: 700;
  	left: 10px;
}

.com-card{
	margin:30px 0;
	background: url(../images/bg.png) top right no-repeat;
}

.com-card .title-cp {
	height:130px;
}


.com-card .title-cp >*{
	padding-top:30px;
}


.com-feedback .name-fields{
  	position: relative;
}

.com-feedback .name-fields span{
  	position: relative;
}

.com-feedback .name-fields span input{
	border: solid 1px #b3b4af;
  	height: 45px;
  	border-radius: 5px;
  	padding-left: 42px;
  	background: url(../images/name.png) 10px 10px no-repeat;
  	background-size: 22px 24px;
  	background-color: white;
	  width:100%;
}

.com-feedback .email-field span input{
	border: solid 1px #b3b4af;
  	height: 45px;
  	border-radius: 5px;
  	padding-left: 42px;
  	background: url(../images/email1.png) 10px 10px no-repeat;
  	background-size: 22px 24px;
  	background-color: white;
	  width: 100%;
}
 .com-feedback .text-field textarea {
	width:620px;
	height:120px;
	border-radius: 5px;
	border: solid 1px #b3b4af;
}

.com-feedback .wpcf7-submit{
	margin-top: 30px;
  	background: #eb2834;
  	border-radius: 42px;
  	border: 0;
  	color: #ffffff;
  	font-size: 16px;
  	padding: 10px 70px;
  	text-decoration: none;
}

.com-feedback .buttons input[type="reset"]{
	margin: 10px 10px 0 0;
 	background: #dae1e9;
  	border-radius: 42px;
  	border: 1px;
  	font-size: 16px;
  	padding: 10px 70px;
  	text-decoration: none;
	color:#000;
}

.com-card .jew{
	position:absolute;
	top:65px;
	right:10px;
}

/*footer*/
.colored-line{
	position:relative;
	height:20px;
}

.about-us{
	padding-top:20px;
}

.about-us .contacts{
	float:right;
	width:570px;
}

.about-us .stl{
	margin-right:570px;
}

.stl .social-networks{
	margin-top: 20px;
}

.stl .social-networks .vkonakte{
	background: url(../images/vk.png) center no-repeat;
}

.stl .social-networks .facebook{
	background: url(../images/fb.png) center no-repeat;
}

.stl .social-networks .you-tube{
	background: url(../images/youtube.png) center no-repeat;
}

.stl .social-networks .link{
	height: 57px;
  	width: 57px;
  	display: block;
    float:left;
}

.contacts .pointer{
	background: url(../images/location.png) no-repeat;
  	height: 24px;
  	width: 20px;
  	float: left;
	margin-right:10px;
	margin-top: 2px;
}
.contacts .representation-text{
	padding-left:30px;
	margin-bottom: 20px;
	color:#666666;
}

.contacts .representation-text .telephone{
	margin-left:34px;
}

.contacts .representation-header{
	font-size:20px;
	margin-bottom:10px;
	font-family:"EsqaderoRegular";
	font-style:italic;
    color: #000;
    font-weight: 700;
}

.footer-color-line{
	height:46px;
}

.blue-line .copyright{
	color:#ffffff;
	margin:10px auto;
	width:100px;
}

/*stl -channel page*/

.stl-channel-page{
    background: #fff;
}
.container .header-wrapper{
    margin-bottom:30px;
}

.main-video-wrapper{
    padding-top:10px;
}

.main-video-wrapper .video-container{
    float:left;
}

.main-video-wrapper .video-container iframe{
    width: 850px;
  height: 480px;
    border-radius: 5px;
}

.main-video-wrapper .video-title{
    font-size:28px;
    font-weight:600;
    margin-top:10px;
}

.main-video-wrapper .follow-youtube{
    background: url(../images/follow_youtube.png) no-repeat;
    width: 200px;
    height: 48px;
    margin:20px 0;
}

.stl-channel-page .main-video-wrapper .header-wrapper .second-level-header{
    padding:0;
    float: none;
    display:block;
}


.stl-channel-page .main-video-wrapper .video-list{
    margin-left: 898px;
      border-radius: 5px;
  background-color: #f5f5f5;
}

.stl-channel-page .main-video-wrapper .popular{
      margin-top: 50px;
    border-top: #bcbcbc solid 1px;
}

.stl-channel-page .main-video-wrapper .popular .second-level-header{
    margin: 30px 0 0;
}

.stl-channel-page .main-video-wrapper .popular .popular-list{
    height: 275px;
    padding: 26px 0;
}

.stl-channel-page .main-video-wrapper .popular .popular-item{
    float: left;
}
.stl-channel-page .main-video-wrapper .popular .popular-item iframe{
    height: 200px;
    width: 100%;
    border-radius:4px;
}

.stl-channel-page .main-video-wrapper .popular .middle{
    margin: 0 10px;
}

.stl-channel-page .main-video-wrapper .video-list .controller{
    height:35px;
     border-bottom: #bcbcbc solid 1px;
}

.stl-channel-page .main-video-wrapper .video-list .controller .prev{
    background: url(../images/prev_arrow.png) no-repeat;
    background-position: center;
    border:0;
    height: 35px;
    width:30px
}


.stl-channel-page .main-video-wrapper .video-list .video-list-wrapper{
      overflow-y: scroll;
  height: 445px;
}

.stl-channel-page .main-video-wrapper .video-list .controller .next{
    background: url(../images/next_arrow.png) no-repeat;
    background-position: center;
    border:0;
    height: 35px;
    width:30px;
}

.stl-channel-page .main-video-wrapper .video-list .controller .update{
    background: url(../images/update.png) no-repeat;
    background-position: center;
    border:0;
    height: 35px;
    float: right;
    width:30px;
}

.stl-channel-page .main-video-wrapper .video-list .video-wrapper .video-channel{
    margin-left: 40px;
    font-size: 12px;
    color: #7e7e7e;
}

.stl-channel-page .main-video-wrapper .video-list .video-wrapper{
background-color: #f5f5f5;
  border-bottom: #bcbcbc solid 1px;
  padding: 15px 5px;
  background: url(../images/play.png) no-repeat;
  background-position: 5% 30%;
    cursor: pointer;
}

.stl-channel-page .main-video-wrapper .video-list .video-wrapper .video-name{
    margin-left: 40px;
}

.popular-video{
    margin-top:20px;
}

.popular-video .video-wrapper{
    padding-bottom:30px;
}

.popular-video .header-wrapper .tags{
    float:right;
    background: url(../images/tags.png) no-repeat;
    height:20px;
    width:38px;
}

.popular-video .video-wrapper .video-container{
    float:left;
}

.popular-video .video-wrapper .middle-video{
    margin:0 5px;
}

/*single page*/
.single #main{
    background-color:#fff;
}

.news-page-header .button-wrapper{
    float: right;
}

.news-page-header .button-wrapper .info-button{
  margin-top:0;
}

.single .news-page-header .info-button a{
    /*color:#000;*/
    margin:0;
}

.single .news-page-header .info-button:active a{
    color:#fff;
    text-decoration:none;
    background-color: #e43941;
}

.single .news-page-header .info-button a:hover{
    color:#000 !important;
    text-decoration:none;
}

.single .news-page-header .info-button{
    color:#000;
    margin:0;
}

.single .news-page-header .info-button:active{
    color:#fff;
    text-decoration:none;
    background-color: #e43941;
}

.single .news-page-header .info-button:hover{
    color:#000;
    text-decoration:none;
    /*border:1px solid #e43941;*/
}

.single .news-page-header .news-link{
      background: url(../images/arrow-news.png) no-repeat;
  padding-left: 40px;
  background-size: 32px;
  display: block;
    color:#000;
}

.single .news-page-header .news-link:hover{
    text-decoration: none;
}

.news-article{
    width:900px;
    float: left;
    margin-bottom:30px;
}

.news-article .new-header{
    position: relative;
}

.news-article .new-header img{
    border-radius:4px;
}

.news-article .post-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
    position: absolute;
  bottom: 50px;
    width:350px;
    margin-left:20px;
}

.news-page .next-posts-list{
    width:900px;
}

.news-page .next-posts-list .next-post-wrapper{
    margin-bottom:20px;
}

.news-page .next-posts-list .next-post-wrapper .next-post-text{
    float:right;
    width:650px;
    margin-top:10px;
}

.news-page .next-posts-list .next-post-wrapper .next-post-text .next-post-date{
    color:#747474;
    font-size:14px;
}

.news-page .next-posts-list .next-post-wrapper .next-post-text .next-post-title{
    font-size:24px;
    color:#000;
}

.news-page .next-posts-list .next-post-wrapper  .next-post-image{
    width:210px;
}

.news-page .next-posts-list .next-post-wrapper .next-post-text .next-post-title:hover{
    text-decoration: none;
}

/*sidebar*/
#sidebar{
    margin-left:930px;
}
#sidebar .support{
    color:#fff;
    padding:10px 20px;
    border-radius: 4px;
    background:  #e43940 url(../images/time.png) no-repeat 90% 50%;
    font-weight:600;
}

.custom{
   color: #fff;
  border-radius: 4px;
  background: #E93944 url(../images/time.png) no-repeat 95%;
  font-size: 19px;
  box-shadow: 1px 1px 3px #929292;
  padding: 11px 17px;
  padding-right: 43px;
  border: 0;
}

#sidebar .news-archive-wrapper{
    margin-top:20px;
}

#sidebar .news-archive-wrapper .news-archive-header{
    font-family: Ubuntu;
    color: #2e2e2e;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}


#sidebar.news-archive .archive-list .archive-list-items{
    list-style-type: none;
    padding-left: 5px;
    color:  #2e2e2e;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

#sidebar .news-archive .archive-list .archive-list-items .item {
    list-style-type: none;
    margin:15px 0;
}

#sidebar .news-archive .archive-list .archive-list-items .item a{
    text-decoration: none;
    color:#2e2e2e;   
}

#sidebar .news-archive .archive-list .archive-list-items .item a:hover{
    color:#e7383f;
}

#sidebar .news-archive .archive-list .archive-list-items .item .date{
    background: url(../images/mini-calendar.png) no-repeat;
    padding-left: 27px;
    background-position: left center;
    font-family: Ubuntu;
    color: #757575;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

/*page-389*/
.calendar-page-wrapper .header-wrapper{
    border-bottom: #bcbcbc solid 1px;
    height: 60px;
    margin-top: 20px;
}
.calendar-page-wrapper .header-wrapper .info-button{
    margin:0;
    float:none;
}
.calendar-page-wrapper .button-wrapper{
    float: right;
}

.calendar-page-wrapper .header-wrapper .header-title{
    width:650px;
}

.calendar-page-wrapper .header-wrapper .header-title .second-level-header{
    padding:0;
}

.calendar-page-wrapper .header-wrapper .header-title .news{
    float: right;
  margin-top: 15px;
}

.calendar-page-wrapper .news-article .min-post-container:hover{
    text-decoration: none; 
}

.calendar-page-wrapper .news-article .min-post-container .min-post-photo{
    height:280px;
  overflow: hidden;
}

.calendar-page-wrapper .news-article .min-post-container .min-post-photo img{
    border-radius: 4px;
}

.calendar-page-wrapper .news-article .min-post-container .min-post-date{
    color: #737373;
  font-size: 15px;
}

.calendar-page-wrapper .news-article .min-post-container .min-post-title{
color: #040404;
  font-size: 25px;
  font-weight: 600;
}

.calendar-page-wrapper #sidebar .news-archive{
    display: none;
}

.calendar-page-wrapper .header-wrapper .button-wrapper .info-button{
    float:right;
}

.calendar-page-wrapper .header-wrapper .button-wrapper .info-button a{
    color:#000;
}

.calendar-page-wrapper .header-wrapper .button-wrapper .info-button a:hover{
    text-decoration:none;
}

.calendar-page-wrapper .header-wrapper .button-wrapper .info-button a:active{
    color:#fff;
}

.calendar-page-wrapper .header-wrapper .news-link{
    float: right;
  margin-top: 15px;
      background: url(../images/arrow-news.png) no-repeat;
  padding-left: 40px;
  background-size: 32px;
  display: block;
    color:#000;
}

.calendar-page-wrapper .header-wrapper .news-link:hover{

    text-decoration: none;
}

/*page-395*/

.calendar-events-page .event-page .events-list{
    width:900px;
    float:left;
}

.calendar-events-page .event-page .events-list .event-wrapper{
    float:left;
    width:280px;
    margin-right:20px;
    /*height: 350px;*/
    height: 500px;
}

.calendar-events-page .event-page .events-list .event-wrapper .event-image{
    margin-bottom:10px;
}

.calendar-events-page .event-page .events-list .event-wrapper .event-image img{
    height: 340px;
    width: auto;
    border-radius: 4px;
}

.calendar-events-page .event-page .events-list .event-wrapper .event-date{
    font-size: 15px;
    color: #737373;
    background: url(../images/mini-calendar.png) no-repeat;
    background-position: center left;
    padding-left: 20px;
}

.calendar-events-page .event-page .events-list .event-wrapper .event-title{
    font-weight: 600;
  font-size: 18px;
    padding-top: 12px
}

.calendar-events-page .header-wrapper{
    border-bottom: #bcbcbc solid 1px;
    height: 60px;
    margin-top: 20px;
    
}

.calendar-events-page .header-wrapper .header-title .second-level-header{
    padding:0;
}

.calendar-events-page  .header-wrapper .info-button{
    margin:0;
    float:none;
}
.calendar-events-page  .button-wrapper{
    float: right;
    margin-top:10px;
}

.calendar-events-page  .header-wrapper .header-title{
    width:650px;
}

.calendar-events-page .header-wrapper .header-title .news{
    float: right;
  margin-top: 15px;
}

.calendar-events-page .header-wrapper .button-wrapper .info-button{
    float:right;
}

.calendar-events-page .header-wrapper .button-wrapper .info-button a{
    color:#000;
}

.calendar-events-page .header-wrapper .button-wrapper .info-button a:hover{
    text-decoration:none;
}

.calendar-events-page .header-wrapper .button-wrapper .info-button a:active{
    color:#fff;
}

.calendar-events-page .header-wrapper .news-link{
    color:#000;
     float: right;
  margin-top: 15px;
      background: url(../images/arrow-news.png) no-repeat;
  padding-left: 40px;
  background-size: 32px;
  display: block;
    height: 30px;
}

.calendar-events-page .header-wrapper .news-link:hover{
    text-decoration: none;
}

/*401 page*/
.announcements-page .future-posts-list{
    float:left;
    width:900px;
}

.announcements-page .future-posts-list .future-post-wrapper .future-post-image{
    margin-bottom:10px;
}

.announcements-page .future-posts-list .future-post-wrapper .future-post-image img{
      height: 300px;
  border-radius: 4px;
}

.announcements-page .future-posts-list .future-post-wrapper .future-post-date{
    color: #737373;
    margin: 0px;
    font-size: 18px;
    background: url(../images/mini-calendar.png) no-repeat 0px 3px;
    padding-left: 27px;
    margin-top: 25px;
}

.announcements-page .future-posts-list .future-post-wrapper .future-post-title{
    font-size: 25px;
  font-weight: 600;
    line-height: 2;
}

.announcements-page .future-posts-list .future-post-wrapper{
    margin-bottom:40px;
}

.announcements-page .header-wrapper{
    border-bottom: #bcbcbc solid 1px;
    height: 60px;
    margin-top: 20px;
}

.announcements-page .header-wrapper .header-title .second-level-header{
    padding:0;
}

.announcements-page  .header-wrapper .info-button a{
    color:#000;
}

.announcements-page  .header-wrapper .info-button a:active {
    color:#fff;
}

.announcements-page  .header-wrapper .info-button a:hover{
    text-decoration:none;
}

.announcements-page  .header-wrapper .news-link{
     float: right;
  margin-top: 15px;
      background: url(../images/arrow-news.png) no-repeat;
  padding-left: 40px;
  background-size: 32px;
  display: block;
    color:#000;
    height: 30px;
}
.announcements-page  .header-wrapper .news-link:hover{
    text-decoration: none;
}

.announcements-page   .button-wrapper{
    float: right;
    margin-top:10px;
    margin-top:10px;
}

.announcements-page   .header-wrapper .header-title{
    width:650px;
}

.announcements-page  .header-wrapper .header-title .news{
    float: right;
  margin-top: 15px;
}

.announcements-page #sidebar .news-archive{
    display: none;
}

/*category-2*/
.main-page-news .header-wrapper .button-wrapper .info-button{
    float:right;
}

.main-page-news .header-wrapper .button-wrapper .info-button a{
    color:#000;
}

.main-page-news .header-wrapper .button-wrapper .info-button a:hover{
    text-decoration:none;
}

.main-page-news .header-wrapper .button-wrapper .info-button a:active{
    color:#fff;
}

.main-page-news .header-wrapper .news-link{
      float: right;
  margin-top: 15px;
      background: url(../images/arrow-news.png) no-repeat;
  padding-left: 40px;
  background-size: 32px;
  display: block;
    color:#000;
}

.main-page-news .header-wrapper .news-link:hover{
    text-decoration: none;
}

.main-page-news .news-grid .cubes-wrapper{
    height:40px;
    margin-bottom:5px;
}

.main-page-news .news-grid .cubes-wrapper .block{
    width:288px;
    height:100%;
    margin-left:5px;
    float:left;
    border-radius:4px;
    padding:8px;
}

.main-page-news .news-grid .cubes-wrapper .block .block-title{
    font-size:16px;
    color:#fff;
    font-weight:600;
}

.main-page-news .news-grid .cubes-wrapper .blue-block{
    background: url(../images/learn.png) no-repeat #3773b1;
    background-position: 90% 50%;
    background-size: 27px;
}

.main-page-news .news-grid .cubes-wrapper .red-block{
    background: url(../images/time.png) no-repeat #e93944;
    background-position: 90% 50%;
    background-size: 27px;
}

.main-page-news .news-grid .cubes-wrapper .yellow-block{
    background: url(../images/calendar.png) no-repeat #f18628;
    background-position: 90% 50%;
    background-size: 27px;
}

.main-page-news .news-grid .cubes-wrapper .green-block{
    background: url(../images/join.png) no-repeat #75b53d;
    background-position: 90% 50%;
    background-size: 27px;
}

.main-page-news .news-grid .cubes-wrapper .block:first-child{
    margin-left:4px;
}


.main-page-news .news-grid .news-blocks .post-item{
    display: block;
    position:relative;
    margin-bottom:5px;
}

.main-page-news .news-grid .news-blocks .post-item .post-header{
    position: absolute;
    bottom:25px;
  margin-left: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
    width:60%;
}

.main-page-news .news-grid .news-blocks .post-item .item-image{
      -webkit-filter: brightness(45%);
    height:100%;
}

.main-page-news .news-grid .news-blocks .post-item .item-image img{
    height:100%;
    border-radius:4px;
}

.main-page-news .news-grid .news-blocks .post-1{
    width: 582px;
    height: 290px;
    float: left;
}

.main-page-news .news-grid .news-blocks .post-2{
 width: 582px;
  height: 290px;
  margin-left: 587px;    
}


.main-page-news .news-grid .news-blocks .post-3{
    width: 387px;
  float: right;
  height: 190px;
  margin-left: 5px;
}

.main-page-news .news-grid .news-blocks .post-4{
    width: 387px;
  float: right;
  height: 190px;
}

.main-page-news .news-grid .news-blocks .post-5{
    width: 387px;
  height: 190px;
    float:left;
}

.main-page-news .news-grid .news-blocks .post-item .post-header .post-date{
    font-size: 15px;
    font-weight: 500;
    background: url(../images/calendar.png) no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

.main-page-news .news-grid{
    margin-bottom:30px;
}

/*page 406*/

.hitas-page .header-wrapper{
    margin:10px 0;
    border-bottom: #bcbcbc solid 1px;
    height:60px;
}

.hitas-page .header-wrapper .header-title{
    padding-bottom:10px;
}

.hitas-page .header-wrapper .header-title .second-level-header{
    padding:0;
}

.header-wrapper .button-wrapper .info-button{
    float:right;
}

.header-wrapper .button-wrapper .info-button a{
    color:#000;
}

.header-wrapper .button-wrapper .info-button a:hover{
    text-decoration:none;
}

.header-wrapper .button-wrapper .info-button a:active{
    color:#fff;
}

.hitas-page .hitas-content {
    
    float:left;
}

.hitas-page .hitas-content .hitas-thumbnail{
    border-bottom: #bcbcbc solid 1px;
    position:relative;
    width:900px;
    padding-bottom: 20px;
}

.hitas-page .hitas-content .hitas-thumbnail .image-wrapper{
    overflow: hidden;
    height: 350px;
    border-radius: 4px;
}

.hitas-page .hitas-content .hitas-thumbnail .image-wrapper img{
    width:900px;
}

.hitas-page .hitas-content .hitas-thumbnail .title-wrapper{
    position:absolute;
    bottom:40px;
    margin-left: 20px;
    width:300px;
}

.hitas-page .hitas-content .hitas-thumbnail .title-wrapper .hitas-title{
    font-size:30px;
    font-weight:600;
    color:#fff;
}

.hitas-page .hitas-content .hitas-thumbnail .title-wrapper .learn{
    border-radius: 42px;
    border: 1px solid #fff;
    font-size: 16px;
    padding: 3px 20px;
    color:#fff;
    text-align:center;
    width: 135px;
}

.hitas-page .hitas-content .lessons-list .item-archive{
    padding: 10px 0;
    height: 130px;
    border-bottom: #bcbcbc solid 1px;
}

.hitas-page .hitas-content .lessons-list .item-archive .item-date{
    background: url(../images/mini-calendar.png) no-repeat;
    font-family: Ubuntu;
    padding-left: 20px;
    background-position: left center;
    color:  #757575;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

.hitas-page .hitas-content .lessons-list .item-archive .item-title{
    font-family: Ubuntu;
    color: #010000;
    font-size: 30px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.hitas-page .hitas-content .lessons-list .item-archive .item-link{
    padding: 10px 10px 10px 35px;
    border: #bcbcbc solid 1px;
    color: #000;
    font-size: 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 145px;
    height: 46px;
    background: url(../images/download-disable.png) no-repeat 8% 50%;
}

.hitas-page .hitas-content .lessons-list .item-archive .item-link:hover{
     background: url(../images/download-active.png) no-repeat 8% 50% #e43940;
    text-decoration:none;
    color: #fff;
    border:1px solid #fff;
}

.post-paging {
  text-align: center;
  margin: 10px;
}

.post-paging .nav-links span,
.post-paging .nav-links a{
  width: 44px;
  height: 43px;
  display: inline-block;
  line-height: 40px;
  font-family: Ubuntu;
  color:  #000000;
  font-size: 18px;
  font-weight: 400;
}

.post-paging .nav-links a.nav-prev,
.post-paging .nav-links span.nav-prev,
.post-paging .nav-links a.nav-next,
.post-paging .nav-links span.nav-next{
  color:#b4b4b4;
}

.post-paging .nav-links .nav-link{
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color:  #b4b4b4;
  box-sizing: border-box;
  background-color:  #ffffff;
  width: 44px;
  height: 43px;
}

.post-paging .nav-links .nav-current{
  border-radius: 50%;
  color:  #ffffff;
  background-color:  #e73742;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  width: 44px;
  height: 43px;
}

.post-paging .navigation {
    display: inline-block;
}

/*page 429*/
.lessons-page .header-wrapper{
    margin: 10px 0;
}
.lessons-page .header-wrapper .header-title{
padding-bottom: 10px;
  border-bottom: #bcbcbc solid 1px;
  height: 60px;
}

.lessons-page .header-wrapper .header-title .second-level-header{
    padding:0;
}

.lessons-page .header-wrapper .button-wrapper .info-button{
    float:right;
}

.lessons-page .header-wrapper .button-wrapper .info-button a{
    color:#000;
}

.lessons-page .header-wrapper .button-wrapper .info-button a:hover{
    text-decoration:none;
}

.lessons-page .header-wrapper .button-wrapper .info-button a:active{
    color:#fff;
}

.lessons-page .lessons-content{
    float:left;
}

.lessons-page .lessons-content .lessons-thumbnail{
      border-bottom: #bcbcbc solid 1px;
  position: relative;
  width: 900px;
  padding-bottom: 20px;
}

.lessons-page .lessons-content .lessons-thumbnail .image-wrapper{
    overflow: hidden;
  height: 350px;
  border-radius: 4px;
}

.lessons-page .lessons-content .lessons-thumbnail .title-wrapper{
    position: absolute;
  bottom: 40px;
  margin-left: 20px;
}

.lessons-page .lessons-content .lessons-thumbnail .title-wrapper .lessons-title{
    font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.lessons-page .lessons-content .lessons-thumbnail .title-wrapper  .learn{
      border-radius: 42px;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 3px 20px;
  color: #fff;
  text-align: center;
  width: 135px;
}

.lessons-page .lessons-content .lessons-list .item-archive{
    padding: 10px 0;
    height: 130px;
    border-bottom: #bcbcbc solid 1px;
}

.lessons-page .lessons-content .lessons-list .item-archive .item-date{
    background: url(../images/mini-calendar.png) no-repeat;
  padding-left: 20px;
  background-position: left center;
  color: #757575;
  font-size: 14px;
}

.lessons-page .lessons-content .lessons-list .item-archive .item-title{
    font-size: 28px;
  font-weight: 600;
    margin-bottom:10px;
}

.lessons-page .lessons-content .lessons-list .item-archive .item-link{
    padding: 10px 10px 10px 35px;
  border: #bcbcbc solid 1px;
  border-radius: 4px;
    color: #000;
  font-size: 15px;
    background: url(../images/download-disable.png) no-repeat 8% 50%;
}

.lessons-page .lessons-content .lessons-list .item-archive .item-link:hover{
     background: url(../images/download-active.png) no-repeat 8% 50% #e43940;
    text-decoration:none;
    color: #fff;
    border:1px solid #fff;
}

/*page-58*/

.contacts-page{
    margin-bottom:20px;
}

.contacts-page .header-wrapper{
    border-bottom: #bcbcbc solid 1px;
    font-size: 32px;
  color: #f5040f;
  font-family: 'EsqaderoRegular';
  font-style: italic;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: 700;
}

.contacts-page .contacts-content .sidebar{
    float:left;
}

.contacts-page .contacts-content .sidebar .agency{
    margin-top:35px;
    margin-right: 40px;
}

.contacts-page .contacts-content .sidebar .agency .header{
    background: url(../images/big-location.png) no-repeat;
    font-family: 'EsqaderoRegular';
    color: #000;
    font-size: 19px;
    font-style: italic;
    background-size: 40px;
    padding-left: 51px;
    cursor: pointer;
    border: 0;
    height: 71px;
    font-weight: bold;
}

.contacts-page .contacts-content .sidebar .agency .agency-title{
    font-size: 18px;
    font-weight: 600;
}

.contacts-page .contacts-content .sidebar .agency .agency-email{
    color:#008aff;
}

.contacts-page .contacts-content .map-wrapper{
    height:600px;
    margin-top: 30px;
}

.contacts-page .contacts-content .map-wrapper #map { 
    height: 100%; 
}
.agency .agency-text {padding-bottom: 10px}
.popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}
.popup-wrapper:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';

}
.fog {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 999;
}
.popup-container {
    position: relative;
    z-index: 1000;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 0px solid #000;
    border-radius: 3px;
    background: #fff;

}
.popup-body
{
    background: #EBEBEB;
    overflow: auto;
    padding: 10px;
}
.popup-footer {
    float: right;
    margin: 5px;
}
.popup_close {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-right: 10px;
    cursor: pointer;
    background: url(../images/close_1.png) no-repeat;
    float: right;
}
.background_1
{
    background: #fff;
    background-image: url(../images/background_1.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 921px;
    width: 1230px;
}
.background_2
{
    background: #fff;
    background-image: url(../images/background_2.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 505px;
    width: 1040px;
}
.background_3
{
    background: #fff;
    background-image: url(../images/pp_background.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 564px;
    width: 1225px;
}
.get-button_2 {
    margin-top: 30px;
    background: #eb2834;
    border-radius: 42px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 50px;
    text-decoration: none;
}
.popup-content_1
{
    width: 55%;
    padding: 33px 0 0 20px
}
.popup-content_2
{
    width: 48%;
    padding: 150px 0 0 20px
}
.descript_1
 {
     font-size: 20px;
     color: #000;
     line-height: 1.2;
     padding-top: 65px;
     padding-bottom: 35px;
     width: 62%;
 }
.descript_2
{
    font-size: 24px;
    text-align: justify;
    color: #424242;
    line-height: 1.2;
    padding-top: 16px;
    padding-bottom: 35px
}
input {
    border: 1px solid #CACACA !important;
    font-family: inherit;
    /*padding: 5px 5px 5px 15px !important;*/
    border-radius: 3px;
    height: 40px;
}
.popup-content_1 b {
    line-height: 2;
}
.new-select-style-wpandyou select {
    border-radius: 0;
    background: transparent;
    height: 38px ;
    padding: 9px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 420px ;
    color: #7D7B6D;
}
.new-select-style-wpandyou {
    border: 1px solid #CCC;
    overflow: hidden;
    height: 40px;
    background: url(../images/arrow_down.png) no-repeat right #fff;
    width: 382px;
    border-radius: 3px;
}
select { outline: none; !important}
.new-select-style-wpandyou_1 {
    border: 1px solid #CCC;
    overflow: hidden;
    height: 40px;
    background: url(../images/arrow_down.png) no-repeat right #fff;
    width: 110px;
    border-radius: 3px;
    display: inline-block;
}
.new-select-style-wpandyou_1 select {
    border-radius: 0;
    background: transparent;
    height: 38px ;
    padding: 9px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 138px ;
    color: #7D7B6D;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
    font-size: 13px;
    padding-top: 10px;
}
.dispIB {display: inline-block}

label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #ccc;
   /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}
.radio label:before {
    border-radius: 10px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #20A726;
    font-size: 46px;
    text-align: center;
    line-height: 19px;
}
.wpandyou_1
{
    vertical-align: top;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    top: 0;
}
input, select {
    max-width: none !important;
}
footer .pr-stl
{
    background: #f5f5f5;
    padding: 30px 0;
    overflow: auto;
    margin-top: 15px;

}
.pr-stl_wrapper {
    width: 1240px;
    margin: 0 auto;
}
.floatL {
    float: left;
    width: 307px;
}
.floatR {float: right}
.pr-stl_content
{
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 237px;
    margin: 0 10px 0 0;
    box-shadow: 0px 1px 2px #b5b5b6;
}
.pr-stl_content_1
{
    background-image: url(../images/pr-stl.png);
}
.pr-stl_content_2
{
    background-image: url(../images/pr-stars.png);
}
.pr-stl_content_3
{
    background-image: url(../images/pr-univ.png);
}
.pr-stl_content_4
{
    background-image: url(../images/pr-teens.png);
}
.pr-stl_content_5
{
    background-image: url(../images/pr-light.png);
}
main .second-level-header
{
    margin-top: 40px;
}
header .second-level-header
{
    display: inline-block;
    float: left;
    padding: 20px 0;
}
header .pp
{
    float: right;
    color: #fff;
    padding: 10px 65px 10px 17px;
    border-radius: 4px;
    background: #E93944 url(../images/time.png) no-repeat 95%;
    /* font-weight: 400; */
    font-size: 20px;
    margin: 20px 2px 20px 0;
    box-shadow: 1px 1px 3px #929292;
}
.header
{
    border-bottom: 1px solid #ccc;
    overflow: auto;
    display: block;
}
.main {position: relative; overflow: auto}
.clear {clear: both}
.pr-stl-img_0
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 25px 0 15px 2px;
    position: relative;
    z-index: 2;
}
.pr-stl-img_1
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 0 0 15px 2px;
    position: relative;
    z-index: 2;
    width: 675px;
    height: 448px;
}
.pr-stl_text_0 {
    padding-left: 300px;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    line-height: 1.3;
}
.pr-stl_text_1 {
    padding-left: 300px;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 20px;
    line-height: 1.3;
}
.pr-stl_text_1_border
{
    border-bottom: 1px solid #aaa;
}
.pr-stl_text_2
{
    width: 48%;
    font-size: 20px;
    clear: both;
    padding: 20px 0 40px;
}
.pr-stl-img_2 {
    position: absolute;
    right: 0;
    top: 182px;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
}

.pr-stl-text_3
{
    font-size: 20px;
    padding-left: 58%;
    padding-top: 10%;
}
.pr-stl-text_9
{
    font-size: 20px;
    padding-left: 61%;
 padding-bottom: 4%;
    padding-top: 25%;
}
.pr-stl-text_10
{
position: relative;
    margin-right: 64px;
    z-index: 1;
}
.pr-stl-text_11
{
    background: #f4a21d;
    position: absolute;
    right: 64px;
    bottom: 396px;
    padding: 75px 225px;
    z-index: 0;
}
.pr-stl-text_4
{
    font-size: 20px;
    padding: 20px 0 0 30px;
    clear: both;
    width: 50%;
}
.pr-stl-text_5
{
    font-size: 24px;
    color: #fff;
    background: #7ec142;
    box-shadow: 1px 3px 3px #666;
    padding: 20px 40px;
    width: 60%;
    margin: 20px 0 45px 1px;
}
.pr-stl-text_7
{
    font-size: 24px;
    color: #fff;
    background: #e43940;
    box-shadow: 1px 3px 3px #666;
    padding: 20px 30px;
    width: 60%;
    margin: -30px 0 95px 1px;
}
.pr-stl-text_8
{
    font-size: 20px;
    padding: 85px 0 70px 44px;
    clear: both;
    width: 46%;
}
.pr-stl_text_6 {
    padding-left: 300px;
    font-size: 20px;
    padding-bottom: 50px;
    line-height: 1.3;
    width: 50%;
}
.pr-stl-img_3 {
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    margin-bottom: 3px;
}
.pr-stl-img_4 {
    position: absolute;
    right: 0;
    top: 85px;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    width: 604px;
    height: 393px;
}
.pr-stl-img_5 {
    box-shadow: 0px 2px 6px #666;
    z-index: 0;
    position: absolute;
    left: 45px;
    top: 210px;
}
.pr-stl-img_6 {
    position: absolute;
    right: 30px;
    bottom: 0;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    margin-bottom: 3px;
}
.pr-stl_arrow_left
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 28px;
    top: 740px;
    z-index: 3;
    background: url(../images/arrow_left.png) no-repeat;
}
.pr-stl_arrow_right
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 622px;
    top: 740px;
    z-index: 3;
    background: url(../images/arrow_right.png) no-repeat;
}
.pr-teens_arrow_left
{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 557px;
    top: 269px;
    z-index: 3;
    background: url(../images/arrow_left.png) no-repeat;
}
.pr-teens_arrow_right
{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 21px;
    top: 269px;
    z-index: 3;
    background: url(../images/arrow_right.png) no-repeat;
}
.pp_otstup_forma
{
    padding-top: 100px;
}
.get-button_1 {padding: 12px 120px; !important}
.payment_text {font-size: 20px; line-height: 2}
.data_form {color: #9aa2ab; font-size: 20px;}
.padL12 {padding-left: 12px;}
.padL60 {padding-left: 60px;}

/*serg*/

.popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}
.popup-wrapper:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';

}
.fog {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 999;
}
.popup-container {
    position: relative;
    z-index: 1000;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 0px solid #000;
    border-radius: 3px;
    background: #fff;

}
.popup-body
{
    background: #EBEBEB;
    overflow: auto;
    padding: 10px;
}
.popup-footer {
    float: right;
    margin: 5px;
}
.popup_close {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-right: 10px;
    cursor: pointer;
    background: url(../images/close_1.png) no-repeat;
    float: right;
}
.background_1
{
    background: #fff;
    background-image: url(../images/background_1.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 921px;
    width: 1230px;
}
.background_2
{
    background: #fff;
    background-image: url(../images/background_2.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 505px;
    width: 1040px;
}
.background_3
{
    background: #fff;
    background-image: url(../images/pp_background.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 564px;
    width: 1225px;
}
.get-button_2 {
    margin-top: 30px;
    background: #eb2834;
    border-radius: 42px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 50px;
    text-decoration: none;
}
.popup-content_1
{
    width: 55%;
    padding: 33px 0 0 20px
}
.popup-content_2
{
    width: 48%;
    padding: 150px 0 0 20px
}
.descript_1
{
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    padding-top: 65px;
    padding-bottom: 35px;
    width: 62%;
}
.descript_2
{
    font-size: 24px;
    text-align: justify;
    color: #424242;
    line-height: 1.2;
    padding-top: 16px;
    padding-bottom: 35px
}
.popup-content_1 b {
    line-height: 2;
}
.new-select-style-wpandyou select {
    border-radius: 0;
    background: transparent;
    height: 38px ;
    padding: 9px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 420px ;
    color: #7D7B6D;
}
.new-select-style-wpandyou {
    border: 1px solid #CCC;
    overflow: hidden;
    height: 40px;
    background: url(../images/arrow_down.png) no-repeat right #fff;
    width: 382px;
    border-radius: 3px;
}
select { outline: none; !important}
.new-select-style-wpandyou_1 {
    border: 1px solid #CCC;
    overflow: hidden;
    height: 40px;
    background: url(../images/arrow_down.png) no-repeat right #fff;
    width: 110px;
    border-radius: 3px;
    display: inline-block;
}
.new-select-style-wpandyou_1 select {
    border-radius: 0;
    background: transparent;
    height: 38px ;
    padding: 9px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 138px ;
    color: #7D7B6D;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
    font-size: 13px;
    padding-top: 10px;
    height: 33px;
}
.dispIB {display: inline-block}
input[type=radio] {display: none;}
label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}
.radio label:before {
    border-radius: 10px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #20A726;
    font-size: 46px;
    text-align: center;
    line-height: 19px;
}
.wpcf7-list-item{position: relative;}
.wpcf7-list-item-label{padding-left: 25px;}
input[type=radio] + span:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
}
input[type=radio]:checked + span:before {
    content: "\2022";
    color: #20A726;
    font-size: 46px;
    text-align: center;
    line-height: 19px;
}

input, select {
    max-width: none !important;
}
footer .pr-stl
{
    background: #f5f5f5;
    padding: 30px 0;
    overflow: auto;
    margin-top: 15px;

}
.pr-stl_wrapper {
    width: 1240px;
    margin: 0 auto;
}
.floatL {float: left}
.floatR {float: right}
.pr-stl_content
{
    background: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 237px;
    margin: 0 10px 0 0;
    box-shadow: 0px 1px 2px #b5b5b6;
}
.pr-stl_content_1
{
    background-image: url(../images/pr-stl.png);
}
.pr-stl_content_2
{
    background-image: url(../images/pr-stars.png);
}
.pr-stl_content_3
{
    background-image: url(../images/pr-univ.png);
}
.pr-stl_content_4
{
    background-image: url(../images/pr-teens.png);
}
.pr-stl_content_5
{
    background-image: url(../images/pr-light.png);
}
main .second-level-header
{
    margin-top: 40px;
}
header .second-level-header
{
    display: inline-block;
    float: left;
    padding: 20px 0;
}
header .pp
{
    float: right;
    color: #fff;
    padding: 10px 65px 10px 17px;
    border-radius: 4px;
    background: #E93944 url(../images/time.png) no-repeat 95%;
    /* font-weight: 400; */
    font-size: 20px;
    margin: 20px 2px 20px 0;
    box-shadow: 1px 1px 3px #929292;
}
.header
{
    border-bottom: 1px solid #ccc;
    overflow: auto;
    display: block;
}
.main {position: relative; overflow: auto}
.clear {clear: both}
.pr-stl-img_0
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 25px 0 15px 2px;
    position: relative;
    z-index: 2;
}
.z2 {z-index: 2 !important;}
.z0 {z-index: 0 !important;}
.pr-stl-predstavit
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 0 0 15px 2px;
    position: relative;
    z-index: 1;
    width: 700px;
    height: 448px;
    background: #f6f6f6;
    font-size: 20px;
}
.pr-stl-predstavit strong {
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
    padding-top: 5px;
}
.pr-stl-img_1
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 0 0 15px 2px;
    position: relative;
    z-index: 2;
    width: 675px;
    height: 448px;
}
.pr-stl_text_0 {
    padding-left: 300px;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    line-height: 1.3;
}
.pr-stl_text_1 {
    padding-left: 300px;
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 20px;
    line-height: 1.3;
}
.pr-stl_text_1_border
{
    border-bottom: 1px solid #aaa;
}
.pr-stl_text_2
{
    width: 48%;
    font-size: 20px;
    clear: both;
    padding: 20px 0 40px;
    line-height: 1.5;
}
.pr-stl_texttorah_2
{
    width: 48%;
    font-size: 20px;
    clear: both;
    padding: 0px 0 40px 20px;
}
.pr-stl-img_2 {
    position: absolute;
    right: 0;
    top: 182px;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
}

.pr-stl-text_3
{
    font-size: 20px;
    padding-left: 58%;
    padding-top: 10%;
    line-height: 1.4;
}
.pr-stl-text_9
{
    font-size: 20px;
    padding-left: 61%;
    padding-top: 25%;
}
.pr-stl-text_10
{
    position: relative;
    margin-right: 64px;
    z-index: 1;
}
.pr-stl-text_11
{
    background: #f4a21d;
    position: absolute;
    right: 64px;
    bottom: 396px;
    padding: 75px 225px;
    z-index: 0;
}
.pr-stl-text_4
{
    font-size: 20px;
    padding: 30px 0 0 40px;
    clear: both;
    width: 50%;
    line-height: 1.4;
}
.pr-stl-text_5
{
    font-size: 24px;
    color: #fff;
    background: #7ec142;
    box-shadow: 1px 3px 3px #666;
    padding: 20px 40px;
    width: 60%;
    margin: 20px 0 45px 1px;
}
.pr-stl-text_7
{
    font-size: 24px;
    color: #fff;
    background: #e43940;
    box-shadow: 1px 3px 3px #666;
    padding: 20px 40px;
    width: 60%;
    margin: -30px 0 95px 8px;
}
.pr-stl-text_8
{
    font-size: 20px;
    padding: 85px 0 70px 50px;
    clear: both;
    width: 46%;
}
.pr-stl_text_6 {
    padding-left: 300px;
    font-size: 20px;
    padding-bottom: 50px;
    line-height: 1.3;
    width: 50%;
}
.pr-stl-img_3 {
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    margin-bottom: 3px;
}
.pr-stl-img_4 {
    position: absolute;
    right: 0;
    top: 85px;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    width: 604px;
    height: 393px;
}
.pr-stl-img_4 img
{
    width: 604px;
    height: 393px;
}
.pr-stl-img_5 {
    box-shadow: 0px 2px 6px #666;
    z-index: 0;
    position: absolute;
    left: 45px;
    top: 210px;
}
.pr-stl-img_6 {
    position: absolute;
    right: 30px;
    bottom: 0;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    margin-bottom: 3px;
}
.pr-stl_arrow_left
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20px;
    top: 205px;
    z-index: 10;
    background: url(../images/arrow_left.png) no-repeat;
}
.pr-stl_arrow_right
{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 20px;
    top: 205px;
    z-index: 10;
    background: url(../images/arrow_right.png) no-repeat;
}
.pr-teens_arrow_left
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20px;
    top: 180px;
    z-index: 10;
    background: url(../images/arrow_left.png) no-repeat;
}
.pr-teens_arrow_right
{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 20px;
    top: 180px;
    z-index: 10;
    background: url(../images/arrow_right.png) no-repeat;
}
.pp_otstup_forma
{
    padding-top: 100px;
}
.get-button_1 {padding: 12px 120px; !important}
.payment_text {font-size: 20px; line-height: 2}
.data_form {color: #9aa2ab; font-size: 20px;}
.padL12 {padding-left: 12px;}
.padL60 {padding-left: 60px;}

.main span
{
    font-size: 24px;
    color: #e93944;
    line-height: 2.5;
}
.face_1
{
    float: left;
    padding: 10px 65px 10px 187px;
    background: url(../images/elisha.png) no-repeat 8%;

}
.face_2
{
    float: left;
    padding: 10px 65px 10px 187px;
    background: url(../images/arye.png) no-repeat 8%;
    margin-top: 40px;
}
.pr-stl-predstavit span
{
    display: block;
    padding: 14px 40px;
}
.pr-torah-text_3
{
    font-size: 20px;
    padding-left: 60%;
    padding-top: 11%;
}
.pr-torah-text_4
{
    font-size: 20px;
    padding-left: 62%;
    padding-top: 12%;
}
.pr-torah-text_3_border
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.pr-torah-punkti
{
    font-size: 20px;
    padding-left: 27px;
}
.pr-torah-punkti ul
{
    padding-left: 20px;
    width: 50%;
    list-style-type: disc;
}
.pr-stl-img_7 {
    position: absolute;
    right: 0;
    top: 895px;
    box-shadow: 1px 2px 3px #666;
}.pr-stl-img_8 {
     box-shadow: 0px 2px 11px #666;
     margin-bottom: 19px;
     margin-left: 66px;
     z-index: 4;
     position: relative;
     float: left;
 }
.marL28 {margin-left: 28px;}
.pr-torah-text_5
{
    width: 45%;
    font-size: 20px;
    clear: both;
    padding: 20px 0 30px 66px;
}
.pr-stl-img_9 {
    position: absolute;
    right: 30px;
    bottom: 362px;
    box-shadow: -1px 2px 3px #666;
    z-index: 3;
}
.pr-torah-text_6 {
    font-size: 20px;
    padding-left: 61%;
    padding-top: 5%;
}




.pr-stars-text_1
{
    font-size: 24px;
    color: #fff;
    background: #3773b1;
    box-shadow: 1px 3px 3px #666;
    padding: 20px 40px;
    width: 60%;
    margin: -33px 0 53px 4px;
}
.pr-stars-img_1 {
    position: absolute;
    right: 0;
    top: 120px;
    box-shadow: 1px 2px 3px #666;
    z-index: 1;
    width: 594px;
    height: 393px;
}
.pr-stars-img_2 {
    box-shadow: 0px 2px 6px #666;
    z-index: 0;
    position: absolute;
    left: 2px;
    top: 323px;
}
.pr-stars_text_2 {
    padding-left: 293px;
    font-size: 20px;
    padding-bottom: 50px;
    line-height: 1.3;
    width: 50%;
    text-align: justify
}
.pr-stars_text_3
{
    font-size: 20px;
    padding-left: 58%;
    padding-top: 19%;
    padding-bottom: 85px;
}
.pr-stars-img_3 {
    position: absolute;
    right: 30px;
    bottom: 0;
    box-shadow: 0px 3px 6px #666;;
    z-index: 1;
    margin-bottom: 3px;
}
.pr-stars-text_4
{
    font-size: 20px;
    padding: 60px 0 65px 45px;
    clear: both;
    width: 46%;
    margin-top: 40px;
}
.pr-stars_arrow_left
{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20px;
    top: 180px;
    z-index: 10;
    background: url(../images/arrow_left.png) no-repeat;
}
.pr-stars_arrow_right
{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 20px;
    top: 180px;
    z-index: 10;
    background: url(../images/arrow_right.png) no-repeat;
}
.pr-univ-img_1 {
    position: absolute;
    right: 0;
    top: 175px;
    box-shadow: 0 1px 3px #666;
    z-index: 1;
    margin-right: 2px;
}
.pr-univ-img_2 {
    position: absolute;
    right: 0;
    top: 350px;
    box-shadow: 0 1px 3px #666;
    z-index: 3;
    margin-right: 2px;
}
.pr-univ-img_3
{
    float: left;
    box-shadow: 0px 2px 6px #666;
    margin: 0 0 15px 2px;
    position: relative;
}
.pr-univ_text_2
{
    width: 48%;
    font-size: 20px;
    clear: both;
    padding: 0 0 30px 35px;
    text-align: justify;
    line-height: 1.4;
}
.pr-univ-text_3
{
    font-size: 20px;
    padding-left: 58%;
    padding-top: 7%;
    line-height: 1.4;
    margin-right: 20px;
    text-align: justify;
}
.posR {position: relative}
.dispIB {display: inline-block}
textarea {
    resize: none;
}
.popup-button {
    margin-top: 30px;
    background: #eb2834;
    border-radius: 42px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 100px;
    text-decoration: none;
}
.w140 {    width: 140px;}
.site-footer1 {background: #f5f5f5; margin-top: 0 !important;}
.main-video-wrapper .video-title{
    font-size:22px;
    font-weight:600;
    margin-top:10px;
}

.main-video-wrapper .follower{
    height: 47px;
    margin-top: 10px;
}

/*page-444*/
.static-video-page .header-wrapper .second-level-header{
    padding:0;
}
.static-video-page .header-wrapper{
    border-bottom: #bcbcbc solid 1px;
  height: 50px;
      margin-top: 10px;
}
.font-small {font-size: 24px !important;}

.static-video-page .video-content .video-container #player iframe{
      width: 850px;
  height: 480px;
  border-radius: 5px;
}
.static-video-page .video-content .video-form {
  font-size: 0px;
  white-space: nowrap;
  line-height: 0;
  margin-bottom: 10px;
}

.static-video-page .video-content .video-form * {
  font-size: 20px;
}

.static-video-page .video-content .video-form select{
  height:43px;
  margin-right: 10px;
}
.static-video-page .video-content .video-form .select2-container{
  margin-right: 10px;
  margin-top: -15px;
}
.select2-container.select2-container--default .select2-selection--single,
.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow
{
  height:43px;
  line-height: 40px;
}
.select2-drop .select2-search { display: none }


.static-video-page .video-content .video-form select#video-glava{
  width: 234px;
}

#video-dateh+.select2-container--default .select2-selection--single .select2-selection__arrow,
#video-dateg+.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(img/calendar.png) center center no-repeat;
}

#video-dateh+.select2-container--default .select2-selection--single .select2-selection__arrow b,
#video-dateg+.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border:none;
}

.static-video-page .video-content .video-form select#video-dateh{
  width: 300px;
}
.static-video-page .video-content .video-form select#video-dateg{
  width: 300px;
}

.static-video-page .video-content .video-form select option {}
{
  white-space: normal;
  font-family: Ubuntu;
  color:  #9aa2ab;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding: 7px 20px;
  cursor: pointer;
  border: 1px solid #b4b4b4;
  margin: -1px;
  position: absolute;
  left: -1px;
  right: -1px;
}
.static-video-page .video-content .video-list .video-wrapper {
    background-color: #f5f5f5;
    border-bottom: #bcbcbc solid 1px;
    padding: 15px 5px;
    background: url(../images/play.png) no-repeat;
    background-position: 5% 30%;
    cursor: pointer;
}
.static-video-page .video-content .video-list .video-wrapper.active,
.static-video-page .video-content .video-list .video-wrapper:hover {
    background-color: #E2E2E2;
}
.static-video-page .video-content .video-list .video-wrapper .video-name {
    margin-left: 40px;
    font-family: Ubuntu;
    color:  #010000;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}
.static-video-page .video-content .video-list .video-wrapper .video-channel {
  margin-left: 40px;
  font-family: Ubuntu;
  color: #757575;
  font-size: 16px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
}
.static-video-page .video-content .video-form select option:first-child{
  border:none;
}

.static-video-page .video-content .video-container{
    float:left;
    margin-right:10px;
}

.static-video-page .video-title{
  font-size: 28px;
  font-weight: 600;
}

.static-video-page .subtitle{
 font-size: 20px;
  color: #727272;
}

.static-video-page .video-content .video-list{
    margin-left: 865px;
    background-color: #f5f5f5;
    margin-top:10px;
}

.static-video-page .video-content .custom{
  color: #fff;
  padding: 10px 100px 10px 17px;
  border-radius: 4px;
  background: #E93944 url(../images/time.png) no-repeat 95%;
  font-size: 20px;
  line-height: 115%;
  box-shadow: 1px 1px 3px #929292;
}

.static-video-page .video-content .video-list .controller{
    height: 35px;
  border-bottom: #bcbcbc solid 1px;
}

.static-video-page .video-content .video-list .controller .prev{
    background: url(../images/prev_arrow.png) no-repeat;
  background-position: center;
  border: 0;
  height: 35px;
  width: 30px;
}

.static-video-page .video-content .video-list .controller .next{
    background: url(../images/next_arrow.png) no-repeat;
  background-position: center;
  border: 0;
  height: 35px;
  width: 30px;
}

.static-video-page .video-content .video-list .controller .update{
    background: url(../images/update.png) no-repeat;
  background-position: center;
  border: 0;
  height: 35px;
  float: right;
  width: 30px;
}

.static-video-page .video-content .video-list .video-list-wrapper{
  overflow-y: scroll;
  height: 445px;
}

.popular .popular-list {
  margin-bottom: 10px;
  white-space: nowrap;
}
.popular .popular-list .popular-item {
  display: inline-block;
  width: 385px;
  height: 230px;
  white-space: normal;
}
.popular .popular-list .popular-item iframe{
  width: 385px;
  height: 230px;
}

.static-video-page .video-content .video-list .video-wrapper{
    background-color: #f5f5f5;
  border-bottom: #bcbcbc solid 1px;
  padding: 15px 5px;
  background: url(../images/play.png) no-repeat;
  background-position: 5% 30%;
  cursor: pointer;
}

.static-video-page .video-content .video-list .video-wrapper .video-name{
      margin-left: 40px;
}

.static-video-page .video-content .video-list .video-wrapper .video-channel{
      margin-left: 40px;
  font-size: 12px;
  color: #7e7e7e;
}

.no-touch {
    background: red;
}
.wpcf7-form-control-wrap.your-age input {
  width: 250px;
}
.wpcf7-form table,
.wpcf7-form tr,
.wpcf7-form td {
  border:none;
  width: auto;
}